<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/styles.css" />
	<title>Basic Server Structure</title>
</head>
<body>
  <h2>Basic Server</h2>
  <p>This is the basic file structure of a server...</p>
</body>
</html>
